# For local Docker Compose
MONGO_URI=mongodb://mongo:27017/noshow_iq

# For local Python outside Docker, use:
# MONGO_URI=mongodb://localhost:27017/noshow_iq

# For production, set MONGO_URI as a secret in Hugging Face/GitHub.
