fastapi==0.115.6
uvicorn[standard]==0.34.0
pandas==2.2.3
numpy==2.2.1
scikit-learn==1.6.0
joblib==1.4.2
pymongo==4.10.1
python-dotenv==1.0.1
pydantic==2.10.4
pytest==8.3.4
httpx==0.28.1
flake8==7.1.1
imbalanced-learn==0.13.0